---
// Assets
import { Icon } from "astro-icon/components";

// Props
const {
  href,
  icon = "error",
  text,
  className = "mr-4 text-xl text-white w-5 h-5",
} = Astro.props;
---

<a href={href} target="_blank"
  ><button
    type="button"
    class="text-white mt-6 bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
    ><Icon name={icon} class:list={[className]} />{text}
  </button></a
>
